@keyframes slideInFromBottom {
  from { transform: translateY(30px); opacity: 0.5; }
  to { transform: translateY(0); opacity: 1; }
}

.container-about {
  display: flex;
  margin-right: 140px;
  margin-left: 140px;
  margin-top: 70px;
}

.container-about-2 {
  display: flex;
  background-color: var(--color_primary);
  padding-right: 140px;
  padding-left: 140px;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 140px;
}

.left-about {
  flex: 1;
  height: auto;
}

.right-about {
  flex: 1;
  height: auto;
  text-align: end;
  transition: all 0.5s ease;
}

.pic-about {
  animation: 0.5s ease-in-out 0s 1 slideInFromBottom;
  width: 440px;
  background-color: rgb(226, 226, 226);
  transition: all 0.5s ease-in-out;
}

.pic-about-1 {
  margin-top: 10%;
  width: 500px;
}

.text-about-1 {
  font-size: 14px;
  margin-bottom: 4%;
  margin-left: 0% !important;
  margin-right: 0% !important;
}

.text-about-2 {
  margin-top: -1%;
  font-size: 25px;
  line-height: 35px;
}

.text-about-3 {
  color: var(--color_dominan);
  margin-top: 5%;
  font-size: 15px;
  line-height: 25px;
}

.text-about-4 {
  flex: 1;
}

.text-about-5 {
  font-size: 25px;
  font-weight: 600;
}

.text-about-5-6 {
  margin-top: 7%;
  font-size: 25px;
  font-weight: 600;
}
.container-text-about-4 {
  display: flex;
  margin-top: 8%;
  margin-bottom: 8%;
}

.number {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
}

.number-text {
  font-size: 13px;
  letter-spacing: 2px;
}

.bottom-about {
  flex: 1.7;
}

.bottom-about-2 {
  flex: 1;
}

.button-about {
  margin-top: 10%;
  border: 2px solid transparent;
  font-weight: 500;
  background-color: white !important;
  color: var(--color_primary);
}

.button-about:hover {
  border: 2px solid transparent;
  background-color: var(--color_secondary) !important;
  color: white;
}

.copyright-about {
  background-color: var(--color_primary);
  margin-bottom: -20px !important;
  color: white;
  text-align: center;
}

.copyright-about-1 {
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}