.container-contact {
  display: flex;
  margin-right: 140px;
  margin-left: 140px;
  margin-top: 70px;
}

.left-contact {
  flex: 1;
  height: auto;
}

.right-contact {
  flex: 1;
  align-self: center;
  text-align: end;
  height: auto;
}

.contact-text-3 {
  font-size: 14px;
  margin-top: 10%;
  margin-bottom: 4%;
  margin-left: 0% !important;
  margin-right: 0% !important;
}

.contact-text-4 {
  font-size: 14px;
  margin-top: 10%;
  margin-bottom: 4%;
  margin-left: 0% !important;
  margin-right: 0% !important;
}

.contact-text-5 {
  color: var(--color_dominan);
  letter-spacing: 0.5px;
  font-size: 11px;
  font-weight: 400;
  margin-top: 2%;
  margin-bottom: 4%;
}

.contact-text-1 {
  font-size: 15px;
  color: var(--color_primary);
  margin-bottom: 1.4%;
}

.contact-text-2 {
  font-size: 17px;
  color: var(--color_primary);
}

.contact-sosmed {
  margin-top: 2%;
}

.pic-wlpr {
  width: 670px;
  background-color: rgb(226, 226, 226);
}