.content-project-top {
  display: flex;
  margin-top: 70px;
  margin-right: 110px;
  margin-left: 110px;
}

.content-project-bottom {
  background-color: var(--color_primary);
  display: flex;
  margin-top: -15%;
  padding-top: 300px;
  padding-right: 120px;
  padding-left: 120px;
  height: 1350px;
}

.content-project-1-left {
  flex: 1;
  text-align: center;
}

.content-project-sub {
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}

.content-project-sub-2 {
  display: flex;
  justify-content: space-between;
}

.content-project-2-left {
  width: 100%;
  text-align: center;
}

.text-project-1 {
  margin-top: 0px !important;
}

.text-project-1 {
  margin-top: 20px !important;
}

.text-project-bottom {
  margin-bottom: 8%;
}

.link-pic-project {
  margin-top: 10%;
}

.button-project {
  background-color: #e8e8e8;
  color: var(--color_primary);
  text-decoration: none;
  border: 2px solid transparent;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 600;
  transition: all 0.4s ease-out;
}

.button-project:hover {
  background-color: var(--color_text);
  border: 2px solid transparent;
  text-decoration: none;
  color: var(--color_primary);
  transition: all 0.3s ease-out;
}

.button-project:hover .button-icon-1,
.button-project .button-icon-1-unlock {
  display: none;
}
.button-project:hover .button-icon-1-unlock {
  display: inline;
}

.pemisah {
  width: 2.6%;
}

.pic-pro-sub {
  width: 100%;
}

.pic-pro-1 {
  flex: 1;
  width: 100%;
}

.pic-pro-2 {
  flex: 1;
  width: 100%;
  margin-top: -3%;
}

.pic-pro-3 {
  flex: 1;
  width: 100%;
}

.copyright-project {
  background-color: var(--color_primary);
  color: white;
  text-align: center;
  padding-bottom: 5%;
  margin-bottom: -20px;
}